db.sqlite3
static/downloads/
static/bcftools/*
!static/bcftools/README
static/tabix/*
!static/tabix/README
static/vcftools/*
!static/vcftools/README.txt
polls/.*.swp
polls/__pycache__/
polls/migrations/__pycache__/
pytera/key.txt
pytera/__pycache__/

