db.sqlite3
logs/*
!logs/README
static/downloads/1000GP/*
!static/downloads/1000GP/README
!static/downloads/1000GP/rename.py
static/downloads/ESP/*
!static/downloads/ESP/README
!static/downloads/ESP/rename.py
static/downloads/ExAC/*
!static/downloads/ExAC/README
!static/downloads/ExAC/rename.py
static/downloads/documents/*
!static/downloads/documents/README
static/downloads/plots/*
!static/downloads/plots/README
static/bcftools/*
!static/bcftools/README
static/tabix/*
!static/tabix/README
static/vcftools/*
!static/vcftools/README.txt
polls/.*.swp
polls/__pycache__/
polls/migrations/__pycache__/
pytera/key.txt
pytera/__pycache__/
polls/management/__pycache__/
