biopython==1.65
data-importer==2.2.1
dj-database-url==0.3.0
Django==1.7.5
jdcal==1.0
matplotlib==1.5.dev1
mod-wsgi==4.4.13
numpy==1.9.2
openpyxl==2.2.5
Pillow==2.9.0
pyparsing==2.0.3
python-dateutil==2.4.2
python-ldap==2.4.14
pytz==2015.4
PyVCF==0.6.7
six==1.9.0
tornado==4.2.1
whitenoise==1.0.6
xlrd==0.9.4
XlsxWriter==0.7.3
xlwt==1.0.0
