{% load staticfiles %}
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:600italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
        <title>VcfDataExporter</title>
        <meta charset="utf-8">
        <link rel="icon" href="{% static 'images/favicon.ico' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <!--
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        -->
        <link rel="stylesheet" href="{% static 'css/poll.css' %}">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> <!-- message alert -->
        <script type="text/javascript" src="{% static 'css/tool_js.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        
       <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>-->
        
        
    </head>
    <body >
        <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
        <div class="navbar-header">
          <a href="{% url 'polls.views.index' %}" class="navbar-brand">VcfDataExporter</a>

        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="{% url 'polls.views.index' %}">Home</a>
            </li>
            <li>
              <a href="{% url 'polls.views.GP_view' %}">Tool</a>
            </li>
            <li>
              <a href="{% url 'polls.views.validate_view' %}">Validate VCF</a>
            </li>
            <li>
              <a href="{% url 'polls.views.result' %}">Documents</a>
            </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li>
              <a href="{% url 'pytera.views.logout' %}">Logout</a>
            </li>
            {% else %}
            <li>
              <a href="{% url 'pytera.views.login' %}">Login</a>
            </li>
            {% endif %}
            <li>
            <a href="#">Contacts</a>
            </li>
            </ul>
        </div>
        </div>
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>

