    <label for="id_exac_col_0"></label>
    <ul id="id_exac_col">
        <li>
            <label for="id_exac_col_0">
                <input id="id_exac_col_0" type="checkbox" value="AC" name="exac_col"></input>
                 Allele count in genotypes, for each ALT allele
            </label>
        </li>
        <li>
            <label for="id_exac_col_1">
                <input id="id_exac_col_1" type="checkbox" value="AC_AFR" name="exac_col"></input>
                 African/African American Allele Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_2">
                <input id="id_exac_col_2" type="checkbox" value="AC_AMR" name="exac_col"></input>
                 American Allele Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_3">
                <input id="id_exac_col_3" type="checkbox" value="AC_Adj" name="exac_col"></input>
                 Adjusted Allele Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_4">
                <input id="id_exac_col_4" type="checkbox" value="AC_EAS" name="exac_col"></input>
                 East Asian Allele Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_5">
                <input id="id_exac_col_5" type="checkbox" value="AC_FIN" name="exac_col"></input>
                 Finnish Allele Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_6">
                <input id="id_exac_col_6" type="checkbox" value="AC_Het" name="exac_col"></input>
                 Adjusted Heterozygous Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_7">
                <input id="id_exac_col_7" type="checkbox" value="AC_Hom" name="exac_col"></input>
                 Adjusted Homozygous Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_8">
                <input id="id_exac_col_8" type="checkbox" value="AC_NFE" name="exac_col"></input>
                 Non-Finnish European Allele Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_9">
                <input id="id_exac_col_9" type="checkbox" value="AC_OTH" name="exac_col"></input>
                 Other Allele Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_10">
                <input id="id_exac_col_10" type="checkbox" value="AC_SAS" name="exac_col"></input>
                 South Asian Allele Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_11">
                <input id="id_exac_col_11" type="checkbox" value="AF" name="exac_col"></input>
                 Allele Frequency, for each ALT allele
            </label>
        </li>
        <li>
            <label for="id_exac_col_12">
                <input id="id_exac_col_12" type="checkbox" value="AN" name="exac_col"></input>
                 Total number of alleles in called genotypes
            </label>
        </li>
        <li>
            <label for="id_exac_col_13">
                <input id="id_exac_col_13" type="checkbox" value="AN_AFR" name="exac_col"></input>
                 African/African American Chromosome Count
            </label>
        </li>
        <li>
            <label for="id_exac_col_14">
                <input id="id_exac_col_14" type="checkbox" value="AN_AMR" name="exac_col"></input>
                 American Chromosome Count
            </label>
        </li>
        <li>
            <label for="id_exac_col_15">
                <input id="id_exac_col_15" type="checkbox" value="AN_Adj" name="exac_col"></input>
                 Adjusted Chromosome Count
            </label>
        </li>
        <li>
            <label for="id_exac_col_16">
                <input id="id_exac_col_16" type="checkbox" value="AN_EAS" name="exac_col"></input>
                 East Asian Chromosome Count
            </label>
        </li>
        <li>
            <label for="id_exac_col_17">
                <input id="id_exac_col_17" type="checkbox" value="AN_FIN" name="exac_col"></input>
                 Finnish Chromosome Count
            </label>
        </li>
        <li>
            <label for="id_exac_col_18">
                <input id="id_exac_col_18" type="checkbox" value="AN_NFE" name="exac_col"></input>
                 Non-Finnish European Chromosome Count
            </label>
        </li>
        <li>
            <label for="id_exac_col_19">
                <input id="id_exac_col_19" type="checkbox" value="AN_OTH" name="exac_col"></input>
                 Other Chromosome Count
            </label>
        </li>
        <li>
            <label for="id_exac_col_20">
                <input id="id_exac_col_20" type="checkbox" value="AN_SAS" name="exac_col"></input>
                 South Asian Chromosome Count
            </label>
        </li>
        <li>
            <label for="id_exac_col_21">
                <input id="id_exac_col_21" type="checkbox" value="GQ_MEAN" name="exac_col"></input>
                 Mean of all GQ values
            </label>
        </li>
        <li>
            <label for="id_exac_col_22">
                <input id="id_exac_col_22" type="checkbox" value="GQ_STDDEV" name="exac_col"></input>
                 Standard deviation of all GQ values
            </label>
        </li>
        <li>
            <label for="id_exac_col_23">
                <input id="id_exac_col_23" type="checkbox" value="Hemi_AFR" name="exac_col"></input>
                 African/African American Hemizygous Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_24">
                <input id="id_exac_col_24" type="checkbox" value="Hemi_AMR" name="exac_col"></input>
                 American Hemizygous Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_25">
                <input id="id_exac_col_25" type="checkbox" value="Hemi_EAS" name="exac_col"></input>
                 East Asian Hemizygous Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_26">
                <input id="id_exac_col_26" type="checkbox" value="Hemi_FIN" name="exac_col"></input>
                 Finnish Hemizygous Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_27">
                <input id="id_exac_col_27" type="checkbox" value="Hemi_NFE" name="exac_col"></input>
                 Non-Finnish European Hemizygous Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_28">
                <input id="id_exac_col_28" type="checkbox" value="Hemi_OTH" name="exac_col"></input>
                 Other Hemizygous Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_29">
                <input id="id_exac_col_29" type="checkbox" value="Hemi_SAS" name="exac_col"></input>
                 South Asian Hemizygous Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_30">
                <input id="id_exac_col_30" type="checkbox" value="Het_AFR" name="exac_col"></input>
                 African/African American Heterozygous Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_31">
                <input id="id_exac_col_31" type="checkbox" value="Het_AMR" name="exac_col"></input>
                 American Heterozygous Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_32">
                <input id="id_exac_col_32" type="checkbox" value="Het_EAS" name="exac_col"></input>
                 East Asian Heterozygous Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_33">
                <input id="id_exac_col_33" type="checkbox" value="Het_FIN" name="exac_col"></input>
                 Finnish Heterozygous Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_34">
                <input id="id_exac_col_34" type="checkbox" value="Het_NFE" name="exac_col"></input>
                 Non-Finnish European Heterozygous Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_35">
                <input id="id_exac_col_35" type="checkbox" value="Het_OTH" name="exac_col"></input>
                 Other Heterozygous Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_36">
                <input id="id_exac_col_36" type="checkbox" value="Het_SAS" name="exac_col"></input>
                 South Asian Heterozygous Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_37">
                <input id="id_exac_col_37" type="checkbox" value="Hom_AFR" name="exac_col"></input>
                 African/African American Homozygous Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_38">
                <input id="id_exac_col_38" type="checkbox" value="Hom_AMR" name="exac_col"></input>
                 American Homozygous Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_39">
                <input id="id_exac_col_39" type="checkbox" value="Hom_EAS" name="exac_col"></input>
                 East Asian Homozygous Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_40">
                <input id="id_exac_col_40" type="checkbox" value="Hom_FIN" name="exac_col"></input>
                 Finnish Homozygous Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_41">
                <input id="id_exac_col_41" type="checkbox" value="Hom_NFE" name="exac_col"></input>
                 Non-Finnish European Homozygous Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_42">
                <input id="id_exac_col_42" type="checkbox" value="Hom_OTH" name="exac_col"></input>
                 Other Homozygous Counts
            </label>
        </li>
        <li>
            <label for="id_exac_col_43">
                <input id="id_exac_col_43" type="checkbox" value="Hom_SAS" name="exac_col"></input>
                 South Asian Homozygous Counts
            </label>
        </li>
    </ul>

