<div class="box_columns"
    <label for="id_columns_0">
        Columns:
    </label>
    <ul id="id_columns">
        <li>
            <label for="id_columns_0">
                <input class="column1" id="id_columns_0" type="checkbox" value="EA_AC" name="columns"></input>
                 EA Allele Count
            </label>
        </li>
        <li>
            <label for="id_columns_1">
                <input class="column1" id="id_columns_1" type="checkbox" value="AA_AC" name="columns"></input>
                 AA Allele Count
            </label>
        </li>
        <li>
            <label for="id_columns_2">
                <input class="column1" id="id_columns_2" type="checkbox" value="TAC" name="columns"></input>
                 Total Allele Count
            </label>
        </li>
        <li>
            <label for="id_columns_3">
                <input class="column1" id="id_columns_3" type="checkbox" value="MAF" name="columns"></input>
                 Minor Allele Frequency
            </label>
        </li>
        <li>
            <label for="id_columns_4">
                <input class="column1" id="id_columns_4" type="checkbox" value="GRCh38_POSITION" name="columns"></input>
                 GRCh38 Position
            </label>
        </li>
        <li>
            <label for="id_columns_5">
                <input class="column1" id="id_columns_5" type="checkbox" value="EA_GTC" name="columns"></input>
                 EA Genotype Count
            </label>
        </li>
</div>
<div class="box_columns">	
        <li>
            <label for="id_columns_6">
                <input class="column1" id="id_columns_6" type="checkbox" value="AA_GTC" name="columns"></input>
                 AA Genotype Count
            </label>
        </li>
        <li>
            <label for="id_columns_7">
                <input class="column1" id="id_columns_7" type="checkbox" value="GTC" name="columns"></input>
                 Total Genotype Count
            </label>
        </li>
        <li>
            <label for="id_columns_8">
                <input class="column1" id="id_columns_8" type="checkbox" value="DP" name="columns"></input>
                 Average Sample Read Depth
            </label>
        </li>
        <li>
            <label for="id_columns_9">
                <input class="column1" id="id_columns_9" type="checkbox" value="FG" name="columns"></input>
                 Function GVS
            </label>
        </li>
        <li>
            <label for="id_columns_10">
                <input class="column1" id="id_columns_10" type="checkbox" value="CDS_SIZES" name="columns"></input>
                 Coding DNA Sizes
            </label>
        </li>
        <li>
            <label for="id_columns_11">
                <input class="column1" id="id_columns_11" type="checkbox" value="GL" name="columns"></input>
                 Genes
            </label>
        </li>
        <li>
            <label >
                <input id="id_columns_12" type="checkbox"></input>
                 Add All Columns
            </label>
        </li>
    </ul>
</div>
<div class='box_input'><h5><i><b>Note: </b>Chrom, POS, ID, Type, REF and ALT are standard columns<br>EA - European American<br>AA - African American</i></h5></div><br>