{% extends 'polls/base.html' %}

{% block content %}

<div class="box_tool">
		<div class="web-app">
		<div id="messages">
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{ message.tags }}">
						<a class="close" href="#" data-dismiss="alert">&times;</a>
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		</div>
				<form action="" method="POST" enctype="multipart/form-data" >
				
					{% csrf_token %}
					<div><h4><i><b>1- </b>Choose Dataset</i></h4></div><br>
					<b><a href="{% url 'polls.views.GP_view' %}" >1000 Genomes Project</a></b>&nbsp; &nbsp; &nbsp; &nbsp;
					<b><a href="{% url 'polls.views.esp_view' %}" >Exome Sequencing Project</a></b>&nbsp; &nbsp; &nbsp; &nbsp;
					<b><a href="{% url 'polls.views.exac_view' %}" >ExAC</a></b>&nbsp; &nbsp; &nbsp; &nbsp;
					<b><a href="{% url 'polls.views.upload_view' %}" >Upload your VCF file</a></b>
						<br><br>
				<div><h4><i><b>2- </b>Choose the chromosome and region to handle</i></h4></div><br>
				  {{ form.as_p }}
				  <br>
				  {{ region.as_p }}
                  

				<div><h5><i><b>Note: </b>It's being used the GRCh37 Assembly</i></h5></div><br>
				<div><h4><i><b>3- </b>Type of file format you want to export</i></h4></div><br> 
	
<select id="id_esp_format" name="esp_format" onchange="SelectHandler(this)">
    <option selected="selected" value=""></option>
    <option value="xlsx">
        Excel(.xlsx)
    </option>
    <option value="vcf">
        VCF
    </option>
</select>

<br>
<br>
<div id='select_vcf' hidden=True>
		
				<div><h4><i><b>4- </b>Filter VCF file by Minor Allele Frequency (MAF) in percent, choose the parameters</i></h4></div><br> 
						{{ maf.as_p }}
						
</div>

<div id='select_xlsx' hidden=True>
<div><h4><i><b>4- </b>Choose the columns you want to add in the excel file</i></h4></div>

						{% include "polls/cols_esp_template.html" %}

</div><br>
		  <div class='box_input'><input type="submit" /></div>
		  <br><br>
		</form>
</div>
</div>

<div class='box_docs'>
		<div><h5><i>Documents Created</i></h5></div>
		{% if documents %}
	<ul>
		{% for document in documents %}
		<li><a href="{{ document.docfile.url }}" download>{{ document.docfile.name }}</a></li>
		{% endfor %}
	</ul>
	{% else %}
		<p>No documents.</p>
	{% endif %}
	<br>
		<div><h5><i>Uploaded VCF's</i></h5></div>
		{% if vcf_files %}
	<ul>
		{% for vcf in vcf_files %}
		<li><a href="{{ vcf.vcf_file.url }}" download>{{ vcf.vcf_file.name }}</a></li>
		{% endfor %}
	</ul>
	{% else %}
		<p>No vcf files</p>
	{% endif %}
</div>

{% endblock %}

