{% extends 'polls/base.html' %}

{% block content %}

<div class="page-header" id="banner">
    <div class="row">
		
<div class="col-lg-9">
		
		<div id="messages">
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{ message.tags }}">
						<a class="close" href="#" data-dismiss="alert">&times;</a>
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		</div>
		
				<form action="" method="POST" enctype="multipart/form-data" >
				
					{% csrf_token %}
					<div><h6><i><b>1- </b>Choose Dataset</i></h6></div><br>
					<b><a href="{% url 'polls.views.GP_view' %}" >1000 Genomes Project</a></b>&nbsp; &nbsp; &nbsp; &nbsp;
					<b><a href="{% url 'polls.views.esp_view' %}" >Exome Sequencing Project</a></b>&nbsp; &nbsp; &nbsp; &nbsp;
					<b><a href="{% url 'polls.views.exac_view' %}" >ExAC</a></b>&nbsp; &nbsp; &nbsp; &nbsp;
					<b><a href="{% url 'polls.views.upload_view' %}" >Upload your VCF file</a></b>
						<br><br>
				<div><h6><i><b>2- </b>Choose the chromosome and region to handle</i></h6></div><br>
				  {{ form.as_p }}
				  <br>
				  {{ region.as_p }}
				  
				<br>
				<div><h6><i><b>3- </b>Type of file format you want to export</i></h6></div><br>
								{{ exac_form }}
								<br>
								<br> 
				<div><h6><i><b>4- </b>Choose the columns you want to add in the excel file</i></h6></div><br>
				<div class="choose_col">	
								{% include "polls/cols_exac_template.html" %}
				</div>
				<h6><i><b>Note: </b>Chrom, POS, ID, Type, REF and ALT are standard columns</i></h6>
				
  		  <div class='box_input'><input type="submit" /></div>
		  <br><br>
		</form>
</div>

{% include "polls/docs_column.html" %}


{% endblock %}
