{% extends 'polls/base.html' %}

{% block content %}


<div class="web-app">
<form action="" method="POST">
    {% csrf_token %}
<ul>
<p class='button3_pos'><a href="{% url 'polls.views.upload_view' %}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Upload VCF file</a></p>
</ul>
<div><h4><i>Choose the chromosome and the region to handle</i></h4></div><br>
  {{ form.as_p }}
  {{ region.as_p }}
  
<a id="Text" href="javascript:toggle2();">Format</a>
<div id="toggle" style="display: none">
<div><h4><i>Type of file format you want to export</i></h4></div><br> 
  {{ frmt }}
  <br>
</div>
  <br> 
<a id="displayText" href="javascript:toggle();">Populations</a> 
  <div id="toggleText" style="display: block">
  <div class="pop-picker">
  {{ picker }}
  </div>
  </div>
<br>
<br> 
  <input type="submit">
</form>
</div>



<script language="javascript"> 
function toggle() {
	var ele = document.getElementById("toggleText");
	var text = document.getElementById("displayText");
	if(ele.style.display == "block") {
    		ele.style.display = "none";
  	}
	else {
		ele.style.display = "block";

	}
} 
</script>

<script language="javascript"> 
function toggle2() {
	var ele = document.getElementById("toggle");
	var text = document.getElementById("Text");
	if(ele.style.display == "block") {
    		ele.style.display = "none";
  	}
	else {
		ele.style.display = "block";

	}
} 
</script>
 

<table>
   <tr>
      <td>
         <div style="border: 1px solid blue; background-color: #99CCFF; padding: 5px;">
            <a href="javascript:showonlyone('newboxes1');" >collapse</a>
         </div>
         <div class="newboxes" id="newboxes1" style="border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px;">Div #1</div>
      </td>
      <td>
         <div style="border: 1px solid blue; background-color: #99CCFF; padding: 5px;">
            <a href="javascript:showonlyone('newboxes2');" >collapse</a>
         </div>
         <div class="newboxes" id="newboxes2" style="border: 1px solid black; background-color: #CCCCCC; display: none;padding: 5px;">Div #2</div>
      </td>
      <td>
         <div style=" padding: 5px;">
            <a href="javascript:showonlyone('newboxes3');" >collapse</a>
         </div>
         <div class="newboxes" id="newboxes3" style="display: none;padding: 5px;">Div #3</div>
      </td>
   </tr>
</table>


<script language="javascript"> 
function showonlyone(thechosenone) {
      var newboxes = document.getElementsByTagName("div");
            for(var x=0; x<newboxes.length; x++) {
                  name = newboxes[x].getAttribute("class");
                  if (name == 'newboxes') {
                        if (newboxes[x].id == thechosenone) {
                        newboxes[x].style.display = 'block';
                  }
                  else {
                        newboxes[x].style.display = 'none';
                  }
            }
      }
}
</script>

<!--This is a comment
<p class='button_pos'><a href="/accounts/logout/" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout </a></p>
-->

{% endblock %}
