{% extends 'polls/base.html' %}

{% block content %}

<div class="page-header" id="banner">
    <div class="row">
		
<div class="col-lg-9">
		
		<div id="messages">
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{ message.tags }}">
						<a class="close" href="#" data-dismiss="alert">&times;</a>
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		</div>
		
				<form action="" method="POST" enctype="multipart/form-data" >
				
					{% csrf_token %}
					<div><h5><i><b>1- </b>Choose Dataset</i></h5></div><br>
					<b><a href="{% url 'polls.views.GP_view' %}" >1000 Genomes Project</a></b>&nbsp; &nbsp; &nbsp; &nbsp;
					<b><a href="{% url 'polls.views.esp_view' %}" >Exome Sequencing Project</a></b>&nbsp; &nbsp; &nbsp; &nbsp;
					<b><a href="{% url 'polls.views.exac_view' %}" >ExAC</a></b>&nbsp; &nbsp; &nbsp; &nbsp;
					<b><a href="{% url 'polls.views.upload_view' %}" >Upload your VCF file</a></b>
						<br><br>
				<div><h5><i><b>2- </b>Choose the chromosome and region to handle</i></h5></div><br>
				  {{ form.as_p }}
				  <br>
				  {{ region.as_p }}
				  
		<br>
		<div><h5><i><b>3- </b>Choose to upload a file or if it is already uploaded provide the file name with extension</i></h5></div><br>
		<b><a href="javascript:showonlyone2('boxes2');" >Upload File</a></b>&nbsp; &nbsp; &nbsp; &nbsp;
	   <b><a href="javascript:showonlyone2('boxes1');" >Provide file name</a></b>&nbsp; &nbsp; &nbsp; &nbsp;
					<br>
					<div class="boxes" id="boxes1" style="display: none">
					<br>
					{{ upload_name }}
					<div><h6><i><b>Ex: </b>filename.vcf.gz</i></h6></div>
					</div>
					<br>
					<div class="boxes" id="boxes2" style="display: none">
					<p>{{ upload_file.non_field_errors }}</p>
					<p>{{ upload_file.docfile.label_tag }} {{ upload_file.docfile.help_text }}</p>
					<p>
						{{ upload_file.docfile.errors }}
						{{ upload_file.docfile }}
					</p>
				<br>
				</div>
					<div><h5><i><b>4- </b>Choose samples</i></h5></div><br>
					{{ sample_up }}
				<div><h6><i><b>Note: </b>Provide comma separated sample(s) or leave blank if all</i></h6></div>
		<br> <div><h5><i><b>5- </b>Type of file format you want to export</i></h5></div><br> 
			<p>{{ form_up }}</p>
			<div><h6><i><b>Note: </b>Excel file limits are 1,048,576 rows by 16,384 columns</i></h6></div><br>
<br>

		  <div class='box_input'><input type="submit" /></div>
		  <br><br>
		</form>
</div>


{% include "polls/docs_column.html" %}

		  

{% endblock %}