{% extends 'polls/base.html' %}

{% block content %}

<div class="page-header" id="banner">
    <div class="row">
		
<div class="col-lg-9">
		
		<div id="messages">
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{ message.tags }}">
						<a class="close" href="#" data-dismiss="alert">&times;</a>
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		</div>
        
				<form action="" method="POST" enctype="multipart/form-data" >
				
					{% csrf_token %}
                <div><h5><i><b>1- </b>Upload VCF File to Validate</i></h5></div><br>
                
                <p>{{ upload_file.non_field_errors }}</p>
                <p>{{ upload_file.docfile.label_tag }} {{ upload_file.docfile.help_text }}</p>
                <p>
                    {{ upload_file.docfile.errors }}
                    {{ upload_file.docfile }}
                </p>

<br>
<div><h6><i><b>Note: </b>It will output a text file with the issues</i></h6></div><br>

		  <div class='box_input'><input type="submit" /></div>
		  <br><br>
		</form>
</div>


<div class="col-lg-13">

		<div><h6><i>Documents Created</i></h6></div>
		{% if documents %}
	<ul>
		{% for document in documents %}
		<li><a href="{{ document.docfile.url }}" download>{{ document.docfile.name }}</a></li>
		{% endfor %}
	</ul>
	{% else %}
		<p>No documents.</p>
	{% endif %}
	<br>
		<div><h6><i>Uploaded VCF's</i></h6></div>
		{% if vcf_files %}
	<ul>
		{% for vcf in vcf_files %}
		<li><a href="{{ vcf.vcf_file.url }}" download>{{ vcf.vcf_file.name }}</a></li>
		{% endfor %}
	</ul>
	{% else %}
		<p>No vcf files</p>
	{% endif %}
<br>
<div><h6><i><b>Warning: </b>Every Sunday at 00:00 files are deleted</i></h6></div><br>
</div>
</div>
</div>

{% endblock %}

